@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<a href="~/Areas/Admin/Views/Shared/_LoginPartial.cshtml">~/Areas/Admin/Views/Shared/_LoginPartial.cshtml</a>
<a href="~/Areas/Admin/Views/Shared/_Layout.cshtml">~/Areas/Admin/Views/Shared/_Layout.cshtml</a>*@